@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", "Arial", sans-serif;
  --color-swiss-red: #ff3333;
  --color-swiss-black: #000000;
  --color-swiss-offwhite: #f4f4f0;
}

@layer base {
  body {
    @apply bg-swiss-offwhite text-swiss-black antialiased font-sans selection:bg-swiss-red selection:text-white;
    background-image:
      linear-gradient(#e5e5e5 1px, transparent 1px),
      linear-gradient(90deg, #e5e5e5 1px, transparent 1px);
    background-size: 40px 40px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tighter uppercase;
  }
}

/* Custom Scrollbar - Sharp and blocky */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-white border-l border-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-black border border-white hover:bg-swiss-red transition-colors;
}